/* 
    Document   : styles
    Created on : Oct 31, 2013, 12:24:01 PM
    Author     : nunnt
    Description:
        Purpose of the stylesheet follows.
*/

/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}

root { 
    display: block;
}

* { font-family: Tahoma, Geneva, sans-serif; }

body {
	background-color: #99580a;
}

table {
    background-color: white;
}

h1 { font-size: 24px; color: #e33200; margin-bottom: 5px; }

h2 { font-size: 20px; color: #c42b00; }

h3 { font-size: 18px; color: #a62500; margin-top: 5px; }

p {
	margin-bottom:10px;
	font-size: 16px;
}

.clear { clear: both; }

a { color: #17607D;}

a:hover { color: #d42f00; }

a:visited {	color: #99580a; }

td {
/*    border: 1px solid;*/
}

#master_table {
    width: 980px;
	padding: 0 10px;
    margin: 0 auto 0 auto;
	border: 0px;
	overflow: hidden;
	/*
    border: 10px #fdc442 solid; */
}

a:hover { color: red;}

/* logo visited */
a, #nav_table a:visited {text-decoration: none; color: #660066;  font-weight: bold;}

/* -------------------- NAVIGATION/HEADER -------------------- */

#logo-div { width: 530px;
    float: left; }

#top-header {
    border-spacing: 5px;
    margin: 0;
    padding: 0;
}

#nav_table button {
    width: 95%;
	font-weight: bold;
}

#nav_table tr td {
}

#nav_table tr td img {
}

.nav_bar {
    font-size: 105%;
    border-radius: .35em;
    margin: 15px 0 0 0;
    text-align: center;
}

.nav_bar tr td {
}

.nav_bar a {
    color: #c42b00;
}

.nav_bar a:hover {
    color: white;
}

.nav_bar input {
    width: 100%;
}

.nav_div {
    border-radius: .35em .35em 0 0;
	padding: 3px 0;
	margin-right: 3px;
	margin-left: 5px;
    width: 120px;
	font-weight: normal;
	height: 20px;
    background: linear-gradient(to bottom, orange, gold);
    background-color: white;
}

.title_table_blank {
	margin-top: 30px;
	font-size: 16px;
	font-weight: normal;
	padding-right: 5px;
	text-align: right;
    width: auto;
	height: 30px;
	float: right;
}

.title_table_blank button { width: 95px; }

/* -------------------- X -------------------- */


.row_2_table_parent_td {
    vertical-align: top;
    width: 1000px;
}

.row_2_table {
}

#div_pic_slider {
	width: 644px;
	overflow: scroll;
    margin: 0 0 5px 5px;
}

#div_pic_slider input:focus{
    outline: 0;
}

#div_pic_slider img {
    width: 650px;
    height: 345px;
    border: 5px #fdc442 solid;
    margin: 0 auto 0 auto;
    padding: 0;
}

#pic_slider_left_arrow {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .1);    
    position: relative;
    border: none;
    border-radius: 35px;
    top: -169px;
    left: -500px;
}

#pic_slider_right_arrow {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .1);
    border-radius: 35px;
    position: relative;
    top: -169px;
    left: -310px;
}

.div_four_options {
    margin: 0px 10px 5px 5px;
    width: 630px;
    border: 5px #fdc442 solid;
    padding: 10px;
}

/* ----- HOME SIDEBAR ----- */
.rotd_container {
	margin: 5px;
    vertical-align: top;
	padding: 5px;
	background-color: #fdc442; 
}

.rotd_container h1 { text-align: center; }

.rotd_container p {
}

.rotd {
    vertical-align: top;
	height: auto;
}

.rotd form table {
    width: 290px;
	margin-top: 5px;
	overflow: hidden;
}

.rotd form img {
}

.rotd form table td {
	padding: 5px;
	text-align: center; 
    color: #910a0a;
}

.rotd input {
}

#div_footer {
    margin: 15px 5px 10px 5px;
    padding: 5px;
    border: 5px #fdc442 solid; 
    text-align: center;
}

.about {
    margin: 0px 5px;
    border: 5px #fdc442 solid;
    padding: 10px 20px;
    border-spacing: 0 10px;
}

#tbs {
    margin: 0px 5px;
    border: 5px #fdc442 solid;
    padding: 10px 20px;
    border-spacing: 0 10px;
}

/* begin styling for recipes.php */

#recipes_title {
    text-align: center;
    font-size: 350%; 
    font-style: italic;
    color: brown;
}

.recipes_table {
    border: 5px #fdc442 solid; 
    padding: 10px;
    margin: 0 5px 0 0;
    background-color: #f4be8c;
    
}

.recipes_table td {
    width: 700px;
    border: none;
    background-color: white;
    padding: 10px;
}

.data_table {
}

.data_table td {
/*    border: 1px solid;*/
    padding: 0;
    
}

.login_table {
    width: 360px;
    margin: 0 auto 25px auto;
    padding: 5px;
    border: 5px #fdc442 solid; 
}

.login_table td {
/*    border: 1px solid;*/
}

.login_table p {
    float: left;
    margin-right: 10px;
}

.login_table input {
    margin: 0 auto 0 auto;
    width: 200px;
}

.login_table button {
    margin: 10px auto 5px auto;
    padding: 2px;
    font-weight: bold;

}

.login_table button:hover {
    border: 2px greenyellow solid;
}

.my_account_table {
    margin: 0 auto 10px auto;
    padding: 5px;
    border: 5px #fdc442 solid; 
}

.my_account_table button {
    padding: 2px;
    font-weight: bold;
}

.my_account_table button:hover {
    border: 2px greenyellow solid;
}


/* begin styling for add_recipes.php */

.add_recipes_main_table {
    margin: 15px;
    border-spacing: 10px 0;
}

.add_recipes_main_td {
    border: 5px #fdc442 solid;
    vertical-align: top;
    margin: 15px;
/*    background-color: #f4be8c;*/
}

.add_recipes_main_td_titles {
    color: #910a0a; 
    font-size: 200%; 
    text-align: center;
    font-style: italic;
}

.create_recipe_table {
    margin: 15px;
    border: 1px solid;
    background-color: #f4be8c;
}

.create_recipe_table td {
/*    border: 1px solid;*/
}

.tags_table {
    margin: 15px auto 15px auto;
    border-spacing: 10px 5px;
    border: 1px solid;
}

.tags_table td {
/*    width: 65px;*/
/*    border: 1px solid;*/

}

.create_button_div {
    text-align: center;
}

.create_button_div button {
    margin-top: 10px;
    border: 2px #910a0a solid;
    font-size: 150%;
    width: 55%;
    font-style: italic;
}

.create_button_div button:hover {background-color: greenyellow;}

.ingred_search_table {
    margin: 0 auto 0 auto;
}

.ingred_search_table td {
    text-align: center;
}