/* 
    Document   : styles
    Created on : Oct 31, 2013, 12:24:01 PM
    Author     : nunnt
    Description:
        Purpose of the stylesheet follows.
*/

/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}

* {
    padding: 0px;
    margin: 0px;
}

root { 
    display: block;
}

html {
    background-color: #ff9900;

}

body {
}

table {
    background-color: white;
}

h3 {
    color: #cc0000
}

td {
/*    border: 1px solid;*/
}

#master_table {
    width: 1100px;
    margin: 0 auto 0 auto;
    border: 10px #fdc442 ridge;
}

a {text-decoration: none; color: #660066;  font-weight: bold;}


#nav_table {
    width: 100%;
    border-spacing: 5px;
    margin: 0;
    padding: 0;
}

#nav_table button {
    width: 95%;
    font-style: italic;
    color: white;
    background-color: red;
}

a:hover { color: red;}

#nav_table tr td {
    color: red; 
    font-size: 310%; 
    font-style: italic;    
}

#nav_table tr td img {
    float: left;
    width: 55px;
    height: 55px;
}

.nav_bar {
    width: 100%;
    font-size: 120%;
    border-spacing: 10px;
    border-radius: .35em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav_bar td {
}

.nav_bar input {
    width: 100%;
}

.nav_div {
    border-radius: .35em;
    width: 100%;
    background: linear-gradient(to bottom, orange, white);
    background-color: white;
}

.title_table_blank {
    width: 84px;
}

.row_2_table_parent_td {
    vertical-align: top;
    width: 1000px;
}

.row_2_table {
}

#div_pic_slider {
    margin: 0 5px 5px 5px;
}

#div_pic_slider input:focus{
    outline: 0;
}

#div_pic_slider img {
    width: 780px;
    height: 345px;
    border: 6px #fdc442 solid;
    margin: 0 auto 0 auto;
    padding: 0;
}

#pic_slider_left_arrow {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .1);    
    position: relative;
    border: none;
    border-radius: 35px;
    top: -169px;
    left: -500px;
}

#pic_slider_right_arrow {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(54, 25, 25, .1);
    border-radius: 35px;
    position: relative;
    top: -169px;
    left: -310px;
}

.div_four_options {
    margin: 0 5px 5px 6px;
    border: 6px #fdc442 solid;
    background-color: #f6facd;
}

a.div_four_options:hover {
    color: peachpuff;
}

.div_four_options td {
    font-size: 110%;
    text-align: left;
    width: 374px;
    vertical-align: top;
    padding: 6px;
    border: 1px #ffcc00 solid;
    background-color: white;
}

.rotd_container {
    vertical-align: top;
    margin-right: 5px;
}

.rotd_container p {
    padding: 0;
    vertical-align: top;
    border: 6px #fdc442 solid; 
    text-align: center; 
    font-size: 200%; 
    font-style: italic; 
    color: #910a0a;
    background-color: #f4be8c;
    margin: 0 5px 10px 0;
}

.rotd {
    vertical-align: top;
    border: 6px #fdc442 solid; 
    margin: 0 5px 10px 0;
}

.rotd form table {
    width: 300px;
    background-color: white;
}

.rotd form table td {
    background-color: #f4be8c;
    text-align: center; 
    color: #910a0a;
}

.rotd input {
    width: 100%;
    height: 100%;
}

#div_footer {
    margin: 0 5px 10px 5px;
    padding: 5px;
    border: 6px #fdc442 solid; 
    text-align: center;
}

.about {
    margin: 5px;
    border: 6px #fdc442 solid;
    padding: 20px;
    border-spacing: 0 10px;
}

/* begin styling for recipes.php */

#recipes_title {
    text-align: center;
    font-size: 350%; 
    font-style: italic;
    color: brown;
}

.recipes_table {
    border: 6px #fdc442 solid; 
    padding: 10px;
    margin: 0 5px 0 0;
    background-color: #f4be8c;
    
}

.recipes_table td {
    width: 700px;
    border: none;
    background-color: white;
    padding: 10px;
}

.data_table {
}

.data_table td {
/*    border: 1px solid;*/
    padding: 0;
    
}

.login_table {
    width: 360px;
    margin: 0 auto 25px auto;
    padding: 5px;
    border: 6px #fdc442 solid; 
}

.login_table td {
/*    border: 1px solid;*/
}

.login_table p {
    float: left;
    margin-right: 10px;
}

.login_table input {
    margin: 0 auto 0 auto;
    width: 200px;
}

.login_table button {
    margin: 10px auto 5px auto;
    padding: 2px;
    font-weight: bold;

}

.login_table button:hover {
    border: 2px greenyellow solid;
}

.my_account_table {
    margin: 0 auto 10px auto;
    padding: 5px;
    border: 6px #fdc442 solid; 
}

.my_account_table button {
    padding: 2px;
    font-weight: bold;
}

.my_account_table button:hover {
    border: 2px greenyellow solid;
}


/* begin styling for add_recipes.php */

.add_recipes_main_table {
    margin: 15px;
    border-spacing: 10px 0;
}

.add_recipes_main_td {
    border: 6px #fdc442 solid;
    vertical-align: top;
    margin: 15px;
/*    background-color: #f4be8c;*/
}

.add_recipes_main_td_titles {
    color: #910a0a; 
    font-size: 200%; 
    text-align: center;
    font-style: italic;
}

.create_recipe_table {
    margin: 15px;
    border: 1px solid;
    background-color: #f4be8c;
}

.create_recipe_table td {
/*    border: 1px solid;*/
}

.tags_table {
    margin: 15px auto 15px auto;
    border-spacing: 10px 5px;
    border: 1px solid;
}

.tags_table td {
/*    width: 65px;*/
/*    border: 1px solid;*/

}

.create_button_div {
    text-align: center;
}

.create_button_div button {
    margin-top: 10px;
    border: 2px #910a0a solid;
    font-size: 150%;
    width: 55%;
    font-style: italic;
}

.create_button_div button:hover {background-color: greenyellow;}

.ingred_search_table {
    margin: 0 auto 0 auto;
}

.ingred_search_table td {
    text-align: center;
}